<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674479947542-hv1hv92a8p93rmvhsfuob1qskjn9nm18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674479947542-hv1hv92a8p93rmvhsfuob1qskjn9nm18</string>
	<key>API_KEY</key>
	<string>AIzaSyDlRqK1gNCeTkAcHCwRx6SC7vtpGxQ2tQA</string>
	<key>GCM_SENDER_ID</key>
	<string>674479947542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umm.Music-GoersApp</string>
	<key>PROJECT_ID</key>
	<string>music-goers</string>
	<key>STORAGE_BUCKET</key>
	<string>music-goers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674479947542:ios:b7edfc83c5ed3e8f6a5a37</string>
</dict>
</plist>